 /* ==========================================================================
   Defaults


   ========================================================================== */
 :root {
    --website-background: #fff;

    --text-color-dark: #000;
    --text-color-semi-dark: #666666;
    --text-color-light: #ffffff;

    --primary-color: #FF6A00;
    --secondary-color: #d7d7d7;

    --sidebar-color: white;
    --topbar-color: white;

    --top-bar-height: 76px;

    --spacing: 20px;

    /*--border-radius-small: 8px;
    --border-radius-medium: 12px;
    --border-radius-big: 20px;*/
 }


 /* ==========================================================================
    Standardeinstellungen entfernen


   ========================================================================== */
 * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    outline: 0;
    border: 0;

    text-decoration: none;
    font-size: 14px;
    font-family: 'Inter', serif;
 }


 html {
    scroll-behavior: smooth;

    font-size: 1em;
    line-height: 1.4;
 }


 /* ==========================================================================
    Body


   ========================================================================== */
 body {
    display: grid;

    grid-template-columns: 80px auto;
    grid-template-rows: var(--top-bar-height) auto;
    grid-template-areas:
       "topbar topbar"
       "sidebar content";

    height: 100vh;
    width: 100%;

    background-color: var(--website-background);
    color: var(--text-color-dark);
 }


 /* ==========================================================================
    Content
 

   ========================================================================== */
 #content {
    grid-area: content;

    width: 100%;
    height: 100%;

    padding: var(--spacing);

    background-color: var(--website-background);
 }


 /* ==========================================================================
    Sidebar
 

   ========================================================================== */

 #sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;

    padding: var(--spacing);

    background-color: var(--sidebar-color);
    border-right: var(--primary-color) solid 1px;
 }


 /* ==========================================================================
   Topbar 

   ========================================================================== */
 #topbar {
    grid-area: topbar;

    display: flex;
    justify-content: space-between;
    align-items: row;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;

    z-index: 10;

    padding: var(--spacing);

    background-color: var(--topbar-color);
    border-bottom: var(--secondary-color) solid 1px;
 }

 #thws-logo{
   align-self: flex-start;
   height: 80%;
 }


 /* ==========================================================================
    File selection
 

   ========================================================================== */
 #file-selection {
    /*grid-area: file-selection;*/

    display: flex;
    justify-content: right;
    align-items: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 0;

    padding: var(--spacing);

    background-color: var(--topbar-color);
 }